services:
  # Base de Datos MySQL
  db:
    image: mysql:8.4
    container_name: mysql_db
    environment:
      - MYSQL_ROOT_PASSWORD=root_pass
      - MYSQL_DATABASE=bombcoupons
      - MYSQL_USER=usuario
      - MYSQL_PASSWORD=pass
    volumes:
      - db_data:/var/lib/mysql
      - ./bombcoupons.sql:/docker-entrypoint-initdb.d/bombcoupons.sql
    ports:
      - "3307:3306"

  # Backend PHP / Apache
  web:
    build:
      context: ./Servidor
    container_name: apache_php
    ports:
      - "8081:80"
    volumes:
      - ./Servidor:/var/www/html
    environment:
      - DOCKER_ENV=true
    depends_on:
      - db

  # Frontend React (Vite)
  frontend:
    build:
      context: ./Cliente
    container_name: react_client
    ports:
      - "5173:5173"
    volumes:
      - ./Cliente:/app
      - /app/node_modules # Evita que Windows pise las dependencias de Linux
    # CAMBIO: Usamos 'run dev' y forzamos el host para que sea accesible
    command: npm run dev -- --host 0.0.0.0
    depends_on:
      - web

volumes:
  db_data:
