Options -Indexes
RewriteEngine On

# Si el archivo existe (ej. una imagen o CSS), que lo cargue normal
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe (ej. /cupones), que todo pase por index.php
RewriteRule ^ index.php [L]